doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1= title
    p Welcome to #{title}
    ul
      li
        a(href='/users') Users
      li
        a(href='/users/create') Create User